<style type="text/css">
  div#flash_area {
    margin: 0;
    font-size: 12px;      
    color: #F90;      
  }
  div#feed_input {
    font-size: 12px;     
  }
  div#feed_input input {
    margin-left: 10px;
    border: solid 1px #233580;
  }
  div#feed_input input[type=text] {
    width: 350px;
  }
  .feedbox {
    float: left;
    margin: 20px 50px 20px 0;
    padding: 5px 10px;      
    width: 40%;
    height: 150px;      
    border: solid 1px #BDD2F0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  .feed_box_header {
    font-size: 12px;
    font-weight: bold;
  }
  div#feed_control_panel_controls {
    font-size: 12px;
    margin-top: 5px;
    margin-right: 10px;      
    float: right;     
  }
  div#feed_control_panel {
    margin-top: 10px;        
    background-color: #EEEEFF;
    padding: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 10px;
  }
  div#info {
    font-size: 12px;
  }
</style>

<div id="feed_control_panel_controls">
    <a href="#" onclick="$('feed_control_panel').hide();">Hide</a> or <a href="#" onclick="$('feed_control_panel').show();">Show</a> the feed panel
</div>
<div id="feed_control_panel">

  <div id="flash_area" class="flash_area">
      
  </div>

  <div id="feed_input" class="feed_input">
      <% remote_form_for(@feed) do |f| %>
        Enter URL of feed to add to your list:
        <%= f.text_field :feed_url %>
        <%= f.submit "Add" %>
      <% end %>
  </div>

  <div style="clear:left;"> </div>

  <div id="my_feeds" class="feedbox">
      <div class="feed_box_header">My Feeds</div>

  </div>
  <div id="recent_feeds" class="feedbox">
      <div class="feed_box_header">Recent Feeds</div>

  </div>
  <div style="clear:left;"> </div>
</div>


<div id="info">If you scroll past an entry it is considered read.</div>

<div id="read_area">
    
</div>
