<style type="text/css">
  div#inner_page {
    margin-top: 38px;
  }
  div#side {
    float:left;
    margin-left: 40px;
    filter:alpha(opacity=18);-moz-opacity:.18;opacity:.18;
  }
</style>

<div id="inner_page">

  <%= render :partial => 'sessions/both' %>

    <div id="side">
    </div>

    <script type="text/javascript">
        $('user_login').focus();
    </script>


</div>
<div style="clear:left;"> </div>

